.anketlerimGenelDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.anketlerimUstMenuAnaDiv{
    display: flex;
    flex-direction: row;
}

.anketlerimUstMenu{
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    
}

.anketlerimUstMenu:hover{
    cursor: pointer;
}

.anketlerimSeciliUstMenuBackgroundColor{
    background-color: aquamarine;
}

.anketlerimSecisizUstMenuBackgroundColor{
    background-color: rgb(238, 236, 236);
}

