.logoutAnaDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    padding: 25px;
}

.logoutAnaDiv :hover {
    cursor: pointer;
    text-shadow: 3px 3px 5px rgba(0, 0, 0.5, 0.5);
    transition: 1s;
}

.logoutIcon {
    margin: 5px;
    font-size: 50px;
}