.gonderCardDiv {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  transition: all 0.3s ease-in-out;
}

.gonderCardDiv:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.profilResmiVeTakmaAdDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  color: #2c3e50;
}

.profilResmiVeTakmaAdDiv div:first-child {
  background-color: #ddd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.gonderiIcerigi {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}

.gonderiAksiyonlariDiv {
  display: flex;
  align-items: center;
  gap: 20px;
}

.begenmeButonu,
.yorumButonu,
.gondermeButonu {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.begenmeButonu:hover,
.yorumButonu:hover,
.gondermeButonu:hover {
  transform: scale(1.1);
}

.begenmeButonu span {
  font-size: 16px;
  color: #333;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

#anasayfaProfilResim {
  width: 50px; /* İsteğe göre boyutlandır */
  height: 50px;
  object-fit: cover; /* Görselin taşmasını engeller, düzgün kırpma sağlar */
  border-radius: 50%; /* Tam yuvarlak yapmak için */
}

#anasayfaProfilResim:hover {
  cursor: pointer;
}

#anasayfaGonderiPaylasanTakmaAd:hover {
  cursor: pointer;
}

.anasayfaMedyaVideo {
  width: 100%;
  border-radius: 8px; /* İstersen kenarları da yuvarlatırız */
}

.anasayfaMedyaResim {
  width: 100%;
  border-radius: 8px; /* İstersen kenarları da yuvarlatırız */
}
