.messageContent {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    background-color: black;
    border-radius: 6px;
    font-size: 30px;
}

.messageAndArrowOpen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.messageIcon {
    display: flex;
    width: 300px;
    justify-content: space-around;
    background-color: black;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 25px;

}

#mesajKapatOku:hover {
    cursor: pointer;
}