.ayarlar-icerik{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.basliklar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.baslik-btn{
    padding: 10px;
    cursor: pointer;
    border: 0;
    
}

.aktif{
    background-color: #28a745;
    border-radius: 5px;
    color: white;
    
}