.textInputArea{
    padding: 20px;
    margin-top: 10px;
    background-color: rgb(233, 233, 233);
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    width: 350px;
}
.textInputArea:focus{
    border: 1px solid rgb(161, 161, 161);
    outline: none;
}
