.yorumlariGorBolumu{
    text-decoration: underline;
    font-size: medium;
    margin-top: 20px;
    margin-bottom: 20px;
}

.yorumlariGorBolumu:hover{
    cursor: pointer;
}

.gonderidenGeriDon{
    font-size: 30px;
    margin-bottom: 10px;
}

.gonderidenGeriDon:hover{
    cursor: pointer;
}