.custom-textarea {
    width: 185px;
    height: 50px;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid whitesmoke;
    font-size: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
    resize: none;
}

.custom-textarea::placeholder {
    color: #aaa;
    opacity: 1;
}

.custom-textarea:hover {
    border-color: #a6e0b3;
    box-shadow: 0 0 5px rgba(31, 135, 55, 0.5);
    font-size: 11px;
}