.loginRegisterGecisAnaDiv {
    display: flex;
    justify-content:center;
}

.kayitOlLoginRegisterGecis {
    padding:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.kayitOlLoginRegisterGecis:hover {
    cursor: pointer;

}


.girisYapLoginRegisterGecis {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.girisYapLoginRegisterGecis:hover {
    cursor: pointer;

}

.loginRegisterGecisArkaPlan {
    background-color: rgb(106, 90, 205);
    color: white;
    border-radius: 4px;
}

#kayitOlIdLoginRegisterGecis {
    text-decoration: none;
    color: inherit;
}

#girisYapIdLoginRegisterGecis {
    text-decoration: none;
    color: inherit;
}