#RegisterButton {
    background-color: rgb(106, 90, 205);
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 20px;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    transition: background-color 0.3s ease-in-out;
    /* 🔥 Yumuşak geçiş efekti */

}

#RegisterButton:hover {
    background-color: rgb(76, 59, 185);
}

.registerButonAnaDiv {
    display: flex;
    justify-content: center;
}