#butonInputArea{
    width: 350px;
    padding: 10px;
    border: 0;
    display: inline-block;
    box-sizing: content-box;
    background-color: rgb(47, 205, 245);
    border-radius: 5px;
    color: white;
    font-size: 15px;
}

#butonInputArea:hover{
    cursor: pointer;
}
