#butonInputArea{
    width: 350px;
    padding: 20px;
    border: 0;
    display: inline-block;
    box-sizing: content-box;
    background: linear-gradient(135deg, #00b4db, #0083b0); /* güzel mavi degrade */
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

#butonInputArea:hover{
    cursor: pointer;
    background: linear-gradient(135deg, #00c6ff, #0072ff);
}
