.profilPagePersonalInfoAnaDiv{
    width: 35%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    background-color: beige;
    box-sizing: border-box;
}


.takipcilerVeTakipEdilenlerDiv{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.profilResmiTakipciVeTakipEdilenDiv{
    display: flex;
    flex-direction: row;
}


.bioTakipcilerVeTakipEdilenlerDiv{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}



#takipcileriButonDiv{
    border: 0;
    background-color: beige;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

#takipcileriButonDiv:hover{
    text-decoration: underline;
    cursor: pointer;
}

#takipEdilenlerButonDiv{
    border: 0;
    background-color: beige;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0;
}

#takipEdilenlerButonDiv:hover{
    text-decoration: underline;
    cursor: pointer;
}

.kullaniciBioDiv{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.katilmaTarihi{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}


#profilDuzenle{
    border: 0;
    background-color: beige;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#profilDuzenle:hover{
    text-decoration: underline;
    cursor: pointer;
}