.textButtonArea{
    border: 0;
    background-color: white;
    color: rgb(47, 205, 245);
    font-size: 15px;
    
}

span{
    font-size: 15px;
}

.textButtonArea:hover{
    cursor: pointer;
}

.textButtonAnaDiv{
    text-align: right;
}