.sabitSolMenuAnaDiv {
    height: 100vh;
    width: fit-content;
    background: rgb(243, 243, 243);
    padding: 15px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 6px;

}


.sabitSolMenu {
    margin-right: 20px;

}