.custom-input-phone {
    border: 1px solid rgb(234, 236, 235);
    border-radius: 4px;
    width: 250px;
    font-size: 20px;
    outline: none;
    transition: all 0.3s ease-in-out;
    padding: 5px;
}

.custom-input-phone::placeholder {
    color: #aaa;
    opacity: 1;
}

.custom-input-phone:hover {
    border-color: rgb(85, 78, 129);
    box-shadow: 0 0 5px rgb(85, 78, 129);
    font-size: 20px;
}